// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2023-2024, NVIDIA CORPORATION & AFFILIATES. All rights reserved.

/dts-v1/;
/plugin/;

#define CAM0_PWDN	TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_PWDN	TEGRA234_MAIN_GPIO(AC, 0)
#define CAM_I2C_MUX 	TEGRA234_AON_GPIO(CC, 3)

#include <dt-bindings/tegra234-p3767-0000-common.h>

/ {
	overlay-name = "Camera SG20-MIPI-IMX283";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = JETSON_COMPATIBLE_P3768;
	/* SG20-MIPI-imx283 connected to cam1 port */

	fragment@0 {
		target-path = "/";
		__overlay__ {
			tegra-capture-vi  {
				num-channels = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						mipi_cam_vi_in0: endpoint {
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&mipi_cam_csi_out0>;
						};
					};
					port@1 {
						reg = <1>;
						mipi_cam_vi_in1: endpoint {
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&mipi_cam_csi_out1>;
						};
					};
				};
			};
			tegra-camera-platform {
				compatible = "nvidia, tegra-camera-platform";

				/**
				* Physical settings to calculate max ISO BW
				*
				* num_csi_lanes = <>;
				* Total number of CSI lanes when all cameras are active
				*
				* max_lane_speed = <>;
				* Max lane speed in Kbit/s
				*
				* min_bits_per_pixel = <>;
				* Min bits per pixel
				*
				* vi_peak_byte_per_pixel = <>;
				* Max byte per pixel for the VI ISO case
				*
				* vi_bw_margin_pct = <>;
				* Vi bandwidth margin in percentage
				*
				* max_pixel_rate = <>;
				* Max pixel rate in Kpixel/s for the ISP ISO case
				*
				* isp_peak_byte_per_pixel = <>;
				* Max byte per pixel for the ISP ISO case
				*
				* isp_bw_margin_pct = <>;
				* Isp bandwidth margin in percentage
				*/
				num_csi_lanes = <4>;
				max_lane_speed = <1500000>;
				min_bits_per_pixel = <10>;
				vi_peak_byte_per_pixel = <2>;
				vi_bw_margin_pct = <25>;
				max_pixel_rate = <7500000>;
				isp_peak_byte_per_pixel = <5>;
				isp_bw_margin_pct = <25>;

				/**
				 * The general guideline for naming badge_info contains 3 parts, and is as follows,
				 * The first part is the camera_board_id for the module; if the module is in a FFD
				 * platform, then use the platform name for this part.
				 * The second part contains the position of the module, ex. "rear" or "front".
				 * The third part contains the last 6 characters of a part number which is found
				 * in the module's specsheet from the vendor.
				 */
				modules {
					module0 {
						
						badge = "sgx_rear_imx283";
						position = "rear";
						orientation = "1";
						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@1/cam_0@1a";
						};
					};
					module1 {
						badge = "sgx_front_imx283";
						position = "front";
						orientation = "1";
						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@0/cam_1@1a";
						};
					};
				};
			};
			bus@0 {
				host1x@13e00000 {
					nvcsi@15a00000 {
						num-channels = <2>;
						#address-cells = <1>;
						#size-cells = <0>;
						channel@0 {
							reg = <0>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									mipi_cam_csi_in0: endpoint@0 {
										port-index = <1>;
										bus-width = <2>;
										remote-endpoint = <&mipi_cam_out0>;
									};
								};
								port@1 {
									reg = <1>;
									mipi_cam_csi_out0: endpoint@1 {
										remote-endpoint = <&mipi_cam_vi_in0>;
									};
								};
							};
						};
						channel@1 {
							reg = <1>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;
								port@0 {
									reg = <0>;
									mipi_cam_csi_in1: endpoint@2 {
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&mipi_cam_out1>;
									};
								};
								port@1 {
									reg = <1>;
									mipi_cam_csi_out1: endpoint@3 {
										remote-endpoint = <&mipi_cam_vi_in1>;
									};
								};
							};
						};
					};
				};
				cam_i2cmux {
					status = "okay";
					compatible = "i2c-mux-gpio";
					#address-cells = <1>;
					#size-cells = <0>;
					mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;
					i2c-parent = <&cam_i2c>;
					i2c@0 {
						status = "okay";
						reg = <1>;
						#address-cells = <1>;
						#size-cells = <0>;
						rbpcv2_imx219_a@10 {
							status = "disabled";
						};

						sw_mipi_cam1: cam_1@1a {
							compatible = "sensing,imx283_1";
							/* I2C device address */
							reg = <0x1a>;

							/* V4L2 device node location */
							devnode = "video1";

							/* Physical dimensions of sensor */
							physical_w = "3.680";
							physical_h = "2.760";

							sensor_model = "imx283";				
							
							/* Defines number of frames to be dropped by driver internally after applying */
							/* sensor crop settings. Some sensors send corrupt frames after applying */
							/* crop co-ordinates */
							//post_crop_frame_drop = "0";

							/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
							use_decibel_gain = "false";

							/* if true, delay gain setting by one frame to be in sync with exposure */
							//delayed_gain = "true";

							/* enable CID_SENSOR_MODE_ID for sensor modes selection */

							use_sensor_mode_id = "true";

							reset-gpios = <&gpio CAM1_PWDN GPIO_ACTIVE_HIGH>;

							mode0 {
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "5496";
								active_h = "3694";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "5740";  
								inherent_gain = "1";
								mclk_multiplier = "20";
								pix_clk_hz = "480000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "20000000";/* 2.0fps */
								max_framerate = "20000000";/* 20.0fps */
								step_framerate = "1";
								default_framerate = "20000000"; /* 20.0fps */
								exposure_factor = "1000000";
								min_exp_time = "3000"; /* us */
								max_exp_time = "40000"; /* us */
								step_exp_time = "100";
								default_exp_time = "30000"; /* us */

								/* readout related settings */
								// num_of_exposure = "1";
								// num_of_ignored_lines = "24";
								// num_of_lines_offset_0 = "0";
								// num_of_ignored_pixels = "0";
								// num_of_left_margin_pixels = "108";
								// num_of_right_margin_pixels = "12";
								embedded_metadata_height = "1";
							};
							mode1{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "5496";
								active_h = "3694";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "5592";
								inherent_gain = "1";
								mclk_multiplier = "21";
								pix_clk_hz = "518000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "25000000";/* 25.0fps */
								step_framerate = "1";
								default_framerate = "25000000"; /* 25.0fps */
								exposure_factor = "1000000";
								min_exp_time = "3000"; /* us */
								max_exp_time = "40000"; /* us */
								step_exp_time = "100";
								default_exp_time = "33000"; /* us */
								embedded_metadata_height = "1";
							};
							mode2{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "2748";
								active_h = "1842";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "2976";
								inherent_gain = "1";
								mclk_multiplier = "12";
								pix_clk_hz = "288000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "50000000";/* 50.0fps */
								step_framerate = "1";
								default_framerate = "50000000"; /* 50.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "20000"; /* us */
								step_exp_time = "100";
								default_exp_time = "15000"; /* us */
								embedded_metadata_height = "1";
							};
							mode3{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "1832";
								active_h = "1234";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "2200";
								inherent_gain = "1";
								mclk_multiplier = "12";
								pix_clk_hz = "288000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "60000000";/* 60.0fps */
								step_framerate = "1";
								default_framerate = "60000000"; /* 60.0fps */
								exposure_factor = "1000000";
								min_exp_time = "3000"; /* us */
								max_exp_time = "16670"; /* us */
								step_exp_time = "100";
								default_exp_time = "12000"; /* us */
								embedded_metadata_height = "1";
							};
							mode4{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_c";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "3872";
								active_h = "2174";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "3968";
								inherent_gain = "1";
								mclk_multiplier = "21";
								pix_clk_hz = "504000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "60000000";/* 60.0fps */
								step_framerate = "1";
								default_framerate = "60000000"; /* 60.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "16670"; /* us */
								step_exp_time = "100";
								default_exp_time = "15000"; /* us */
								embedded_metadata_height = "1";
							};

							ports {
								#address-cells = <1>;
								#size-cells = <0>;

								port@0 {
									reg = <0>;
									mipi_cam_out1: endpoint {
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&mipi_cam_csi_in1>;
									};
								};
							};
						};
					};
					i2c@1 {
						status = "okay";
						reg = <0>;
						#address-cells = <1>;
						#size-cells = <0>;
						rbpcv2_imx219_c@10 {
							status = "disabled";
						};
						sw_mipi_cam0: cam_0@1a {
							compatible = "sensing,imx283_0";
							/* I2C device address */
							reg = <0x1a>;

							/* V4L2 device node location */
							devnode = "video0";

							/* Physical dimensions of sensor */
							physical_w = "3.680";
							physical_h = "2.760";

							sensor_model = "imx283";				
							
							/* Defines number of frames to be dropped by driver internally after applying */
							/* sensor crop settings. Some sensors send corrupt frames after applying */
							/* crop co-ordinates */
							//post_crop_frame_drop = "0";

							/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
							use_decibel_gain = "false";

							/* if true, delay gain setting by one frame to be in sync with exposure */
							//delayed_gain = "true";

							/* enable CID_SENSOR_MODE_ID for sensor modes selection */

							use_sensor_mode_id = "true";

							reset-gpios = <&gpio CAM0_PWDN GPIO_ACTIVE_HIGH>;

							mode0 {
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_a";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "5496";
								active_h = "3694";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "5740";  
								inherent_gain = "1";
								mclk_multiplier = "20";
								pix_clk_hz = "480000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* 27db */
								step_gain_val = "1";
								default_gain = "100"; /* 0db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "20000000";/* 20.0fps */
								step_framerate = "1";
								default_framerate = "20000000"; /* 20.0fps */
								exposure_factor = "1000000";
								min_exp_time = "3000"; /* us */
								max_exp_time = "40000"; /* us */
								step_exp_time = "100";
								default_exp_time = "30000"; /* us */
								embedded_metadata_height = "1";
							};
							mode1{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_a";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "5496";
								active_h = "3694";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "5740";
								inherent_gain = "1";
								mclk_multiplier = "21";
								pix_clk_hz = "518000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* 27db */
								step_gain_val = "1";
								default_gain = "100"; /* 0db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "25000000";/* 25.0fps */
								step_framerate = "1";
								default_framerate = "25000000"; /* 25.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "40000"; /* us */
								step_exp_time = "100";
								default_exp_time = "33000"; /* us */
								embedded_metadata_height = "1";
							};
							mode2{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_a";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "2748";
								active_h = "1842";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "2976";
								inherent_gain = "1";
								mclk_multiplier = "12";
								pix_clk_hz = "288000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "50000000";/* 50.0fps */
								step_framerate = "1";
								default_framerate = "50000000"; /* 50.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "20000"; /* us */
								step_exp_time = "100";
								default_exp_time = "15000"; /* us */
								embedded_metadata_height = "1";
							};
							mode3{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_a";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "1832";
								active_h = "1234";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "12";
								readout_orientation = "90";
								line_length = "2200";
								inherent_gain = "1";
								mclk_multiplier = "12";
								pix_clk_hz = "288000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "60000000";/* 60.0fps */
								step_framerate = "1";
								default_framerate = "60000000"; /* 60.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "16670"; /* us */
								step_exp_time = "100";
								default_exp_time = "12000"; /* us */
								embedded_metadata_height = "1";
							};
							mode4{
								mclk_khz = "24000";
								num_lanes = "4";
								tegra_sinterface = "serial_a";
								phy_mode = "DPHY";
								discontinuous_clk = "yes";
								dpcm_enable = "false";
								cil_settletime = "0";
								lane_polarity = "0";

								active_w = "3872";
								active_h = "2174";
								mode_type = "bayer";
								pixel_phase = "rggb";
								csi_pixel_bit_depth = "10";
								readout_orientation = "90";
								line_length = "3968";
								inherent_gain = "1";
								mclk_multiplier = "21";
								pix_clk_hz = "504000000";

								gain_factor = "100";
								min_gain_val = "100"; /* 0db */
								max_gain_val = "2250"; /* "27db" */
								step_gain_val = "1";
								default_gain = "100"; /* 0.00db */
								min_hdr_ratio = "1";
								max_hdr_ratio = "1";
								framerate_factor = "1000000";
								min_framerate = "2000000";/* 2.0fps */
								max_framerate = "60000000";/* 60.0fps */
								step_framerate = "1";
								default_framerate = "60000000"; /* 60.0fps */
								exposure_factor = "1000000";
								min_exp_time = "1000"; /* us */
								max_exp_time = "16670"; /* us */
								step_exp_time = "100";
								default_exp_time = "15000"; /* us */
								embedded_metadata_height = "1";
							};

							ports {
								#address-cells = <1>;
								#size-cells = <0>;

								port@0 {
									reg = <0>;
									mipi_cam_out0: endpoint {
										port-index = <0>;
										bus-width = <4>;
										remote-endpoint = <&mipi_cam_csi_in0>;
									};
								};
							};
						};
					};
				};
				gpio@6000d000 {
					camera-control-output-low {
						gpio-hog;
						output-low;
						gpios = <CAM1_PWDN 0  CAM0_PWDN 0>;
						label = "cam1-pwdn", "cam0-pwdn";
					};
				};
			};
		};
	};
};
