
// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2018-2023, INTEL CORPORATION.  All rights reserved.

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/tegra264-clock.h>
#include <dt-bindings/gpio/tegra264-gpio.h>
//#include <dt-bindings/tegra234-p3737-0000+p3701-0000.h>

/* camera control gpio definitions */
#define CAM0_RST_L	TEGRA264_MAIN_GPIO(V, 2)
#define CAM0_PWDN	TEGRA264_MAIN_GPIO(AL, 1)
#define CAM1_RST_L	TEGRA264_MAIN_GPIO(Q, 3)
#define CAM1_PWDN	TEGRA264_MAIN_GPIO(Q, 2)
#define CAM_SYNC    TEGRA264_MAIN_GPIO(K, 5)

#define CAMERA_I2C_MUX_BUS(x) (0x1E + x)
#define JETSON_COMPATIBLE	"nvidia,p3971-0089+p3834-0008", "nvidia,p3971-0050+p3834-0005", "nvidia,p3971-0080+p3834-0008", "nvidia,p3834-0008", "nvidia,tegra264"

/ {
	overlay-name = "Jetson Sensing SG8A_AGTH_G2Y_A1 SHW3Gx4+SDV11NM1x2";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = JETSON_COMPATIBLE;

	fragment@0 {
		target-path = "/";
		__overlay__ {
			tegra-capture-vi {
				num-channels = <8>;
				ports {
					status = "okay";
					port@0 {
						reg = <0>;
						status = "okay";
						jetson_vi_in0: endpoint {
							status = "okay";
							vc-id = <0>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out0>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						jetson_vi_in1: endpoint {
							status = "okay";
							vc-id = <1>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out1>;
						};
					};
					port@2 {
						reg = <2>;
						status = "okay";
						jetson_vi_in2: endpoint {
							status = "okay";
							vc-id = <2>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out2>;
						};
					};
					port@3 {
						reg = <3>;
						status = "okay";
						jetson_vi_in3: endpoint {
							status = "okay";
							vc-id = <3>;
							port-index = <2>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out3>;
						};
					};
					port@4 {
						reg = <4>;
						status = "okay";
						jetson_vi_in4: endpoint {
							status = "okay";
							vc-id = <0>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out4>;
						};
					};
					port@5 {
						reg = <5>;
						status = "okay";
						jetson_vi_in5: endpoint {
							status = "okay";
							vc-id = <1>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out5>;
						};
					};
					port@6 {
						reg = <6>;
						status = "okay";
						jetson_vi_in6: endpoint {
							status = "okay";
							vc-id = <2>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out6>;
						};
					};
					port@7 {
						reg = <7>;
						status = "okay";
						jetson_vi_in7: endpoint {
							status = "okay";
							vc-id = <3>;
							port-index = <0>;
							bus-width = <4>;
							remote-endpoint = <&jetson_csi_out7>;
						};
					};
				};
			};
	
			tegra-camera-platform {
				compatible = "nvidia, tegra-camera-platform";

				modules {
					status = "okay";
					module0 {
						status = "okay";
						badge = "cam_bottomleft";
						position = "bottomleft";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/cam_0@20";
						};
					};
					module1 {
						status = "okay";
						badge = "cam_centerleft";
						position = "centerleft";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/cam_1@21";
						};
					};
					module2 {
						status = "okay";
						badge = "cam_centerright";
						position = "centerright";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/cam_2@22";
						};
					};
					module3 {
						status = "okay";
						badge = "cam_topleft";
						position = "topleft";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6a0000/cam_3@23";
						};
					};
					module4 {
						status = "okay";
						badge = "cam_bottomright";
						position = "bottomright";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6d0000/cam_4@20";
						};
					};
					module5 {
						status = "okay";
						badge = "cam_topright";
						position = "topright";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6d0000/cam_5@21";
						};
					};
					module6 {
						status = "okay";
						badge = "cam_bottomcenter";
						position = "bottomcenter";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6d0000/cam_6@22";
						};
					};
					module7 {
						status = "okay";
						badge = "cam_topcenter";
						position = "topcenter";
						orientation = "1";
						drivernode0 {
							status = "okay";
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@810c6d0000/cam_7@23";
						};
					};
				};
			};

			bus@0 {

				/* set camera gpio direction to output */
				gpio@810c300000 {
					camera-control-output-low {
						gpio-hog;
						output-low;
						gpios = <CAM0_RST_L 1 CAM0_PWDN 1 CAM1_RST_L 1 CAM1_PWDN 1>;
						label = "cam0-rst", "cam0-pwdn", "cam1-rst", "cam1-pwdn";
					};
				};

				pwm-gpio {
					compatible = "pwm-gpio";
					status = "okay";
					gpios = <&gpio_main CAM_SYNC GPIO_ACTIVE_LOW>;
				};

				host1x@8181200000 {
					nvcsi@8188000000 {
						num-channels = <8>;
						channel@0 {
							reg = <0>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in0: endpoint@0 {
										status = "okay";
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out0>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out0: endpoint@1 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in0>;
									};
								};
							};
						};
						channel@1 {
							reg = <1>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in1: endpoint@2 {
										status = "okay";
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out1>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out1: endpoint@3 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in1>;
									};
								};
							};
						};
						channel@2 {
							reg = <2>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in2: endpoint@4 {
										status = "okay";
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out2>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out2: endpoint@5 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in2>;
									};
								};
							};
						};
						channel@3 {
							reg = <3>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in3: endpoint@6 {
										status = "okay";
										port-index = <2>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out3>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out3: endpoint@7 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in3>;
									};
								};
							};
						};
						channel@4 {
							reg = <4>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in4: endpoint@08{
										status = "okay";
										port-index = <0>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out4>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out4: endpoint@9 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in4>;
									};
								};
							};
						};
						channel@5 {
							reg = <5>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in5: endpoint@10 {
										status = "okay";
										port-index = <0>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out5>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out5: endpoint@11 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in5>;
									};
								};
							};
						};
						channel@6 {
							reg = <6>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in6: endpoint@12 {
										status = "okay";
										port-index = <0>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out6>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out6: endpoint@13 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in6>;
									};
								};
							};
						};
						channel@7 {
							reg = <7>;
							status = "okay";
							ports {
								status = "okay";
								port@0 {
									reg = <0>;
									status = "okay";
									jetson_csi_in7: endpoint@14 {
										status = "okay";
										port-index = <0>;
										bus-width = <4>;
										remote-endpoint = <&cam_csi_out7>;
									};
								};
								port@1 {
									reg = <1>;
									status = "okay";
									jetson_csi_out7: endpoint@15 {
										status = "okay";
										remote-endpoint = <&jetson_vi_in7>;
									};
								};
							};
						};
					};
				};

				i2c@810c6d0000 {
					clock-frequency = <100000>;
					status = "okay";

					max96712_1@29 {
						compatible = "nvidia,max96712_1";
						reg = <0x29>;
					};

					cam_7@23 {
						compatible = "sensing,sdv11nm1-7";
						def-addr = <0x20>;
						reg = <0x23>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x33>;
						devnode = "video7";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="sdv11nm1";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <1>;//
						reset-gpios = <&gpio_main CAM0_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2592x1944_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_a";
							vc_id = "3";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "10";
							csi_pixel_bit_depth = "10";
							mode_type = "bayer";
							pixel_phase = "bggr";

							active_w = "2592";
							active_h = "1944";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "240000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "100";
							min_gain_val = "100"; /* dB */
							max_gain_val = "1550"; /* dB */
							step_gain_val = "1"; /* 0.1 */
							default_gain = "100";
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "30000000";
							max_framerate = "30000000";
							step_framerate = "1";
							default_framerate = "30000000";
							exposure_factor = "1000000";
							min_exp_time = "100";            /*us, 6 lines  6 * 16.276μs = 97.656 μs */
							max_exp_time = "32844";         /*us, (2048− 30) * 16.276μs = 32844μs */
							step_exp_time = "1";
							default_exp_time = "32844";	/* μs */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out7: endpoint {
									vc-id = <3>;
									port-index = <0>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in7>;
								};
							};
						};
					};
					cam_6@22 {
						compatible = "sensing,sdv11nm1-6";
						def-addr = <0x6c>;
						reg = <0x22>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x32>;
						devnode = "video6";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="sdv11nm1";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <1>;//
						reset-gpios = <&gpio_main CAM0_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2592x1944_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_a";
							vc_id = "2";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "10";
							csi_pixel_bit_depth = "10";
							mode_type = "bayer";
							pixel_phase = "bggr";

							active_w = "2592";
							active_h = "1944";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "240000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "100";
							min_gain_val = "100"; /* dB */
							max_gain_val = "1550"; /* dB */
							step_gain_val = "1"; /* 0.1 */
							default_gain = "100";
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "30000000";
							max_framerate = "30000000";
							step_framerate = "1";
							default_framerate = "30000000";
							exposure_factor = "1000000";
							min_exp_time = "100";            /*us, 6 lines  6 * 16.276μs = 97.656 μs */
							max_exp_time = "32844";         /*us, (2048− 30) * 16.276μs = 32844μs */
							step_exp_time = "1";
							default_exp_time = "32844";	/* μs */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out6: endpoint {
									vc-id = <2>;
									port-index = <0>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in6>;
								};
							};
						};
					};
					cam_5@21 {
						compatible = "sensing,sdv11nm1-5";
						def-addr = <0x20>;
						reg = <0x21>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x31>;
						devnode = "video5";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="sdv11nm1";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <1>;//
						reset-gpios = <&gpio_main CAM0_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2592x1944_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_a";
							vc_id = "1";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "10";
							csi_pixel_bit_depth = "10";
							mode_type = "bayer";
							pixel_phase = "bggr";

							active_w = "2592";
							active_h = "1944";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "240000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "100";
							min_gain_val = "100"; /* dB */
							max_gain_val = "1550"; /* dB */
							step_gain_val = "1"; /* 0.1 */
							default_gain = "100";
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "30000000";
							max_framerate = "30000000";
							step_framerate = "1";
							default_framerate = "30000000";
							exposure_factor = "1000000";
							min_exp_time = "100";            /*us, 6 lines  6 * 16.276μs = 97.656 μs */
							max_exp_time = "32844";         /*us, (2048− 30) * 16.276μs = 32844μs */
							step_exp_time = "1";
							default_exp_time = "32844";	/* μs */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out5: endpoint {
									vc-id = <1>;
									port-index = <0>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in5>;
								};
							};
						};
					};
					cam_4@20 {
						compatible = "sensing,sdv11nm1-4";
						def-addr = <0x6c>;
						reg = <0x20>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x30>;
						devnode = "video4";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="sdv11nm1";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <1>;//
						reset-gpios = <&gpio_main CAM0_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2592x1944_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_a";
							vc_id = "0";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "10";
							csi_pixel_bit_depth = "10";
							mode_type = "bayer";
							pixel_phase = "bggr";

							active_w = "2592";
							active_h = "1944";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "240000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "100";
							min_gain_val = "100"; /* dB */
							max_gain_val = "1550"; /* dB */
							step_gain_val = "1"; /* 0.1 */
							default_gain = "100";
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "30000000";
							max_framerate = "30000000";
							step_framerate = "1";
							default_framerate = "30000000";
							exposure_factor = "1000000";
							min_exp_time = "100";            /*us, 6 lines  6 * 16.276μs = 97.656 μs */
							max_exp_time = "32844";         /*us, (2048− 30) * 16.276μs = 32844μs */
							step_exp_time = "1";
							default_exp_time = "32844";	/* μs */
							embedded_metadata_height = "0";
						};
						
						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out4: endpoint {
									vc-id = <0>;
									port-index = <0>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in4>;
								};
							};
						};
					};
				};

				i2c@810c6a0000 {
					clock-frequency = <100000>;
					status = "okay";

					max96712_0@2d {
						compatible = "nvidia,max96712_0";
						reg = <0x2d>;
					};

					cam_3@23 {
						compatible = "sensing,shw3g-3";
						def-addr = <0x36>;
						reg = <0x23>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x33>;
						devnode = "video3";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="shw3g";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <0>;//
						reset-gpios = <&gpio_main CAM1_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2064X1552_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_c";
							vc_id = "3";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "12";
							csi_pixel_bit_depth = "12";
							mode_type = "bayer";
							pixel_phase = "rggb";

							active_w = "2064";
							active_h = "1552";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "200000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "10";
							min_gain_val = "10"; /* 1.00x */
							max_gain_val = "480"; /* 22x */
							step_gain_val = "5";
							default_gain = "10"; /* 1.00x */
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "51000000";
							max_framerate = "51000000";
							step_framerate = "1";
							default_framerate = "51000000";
							exposure_factor = "1000000";
							min_exp_time = "12"; /*us, 2 lines*/
							max_exp_time = "19000";
							step_exp_time = "1";
							default_exp_time = "19000";/* us */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out3: endpoint {
									vc-id = <3>;
									port-index = <2>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in3>;
								};
							};
						};
					};
					cam_2@22 {
						compatible = "sensing,shw3g-2";
						def-addr = <0x36>;
						reg = <0x22>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x32>;
						devnode = "video2";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="shw3g";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <0>;//
						reset-gpios = <&gpio_main CAM1_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2064X1552_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_c";
							vc_id = "2";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "12";
							csi_pixel_bit_depth = "12";
							mode_type = "bayer";
							pixel_phase = "rggb";

							active_w = "2064";
							active_h = "1552";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "200000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "10";
							min_gain_val = "10"; /* 1.00x */
							max_gain_val = "480"; /* 22x */
							step_gain_val = "5";
							default_gain = "10"; /* 1.00x */
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "51000000";
							max_framerate = "51000000";
							step_framerate = "1";
							default_framerate = "51000000";
							exposure_factor = "1000000";
							min_exp_time = "12"; /*us, 2 lines*/
							max_exp_time = "19000";
							step_exp_time = "1";
							default_exp_time = "19000";/* us */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out2: endpoint {
									vc-id = <2>;
									port-index = <2>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in2>;
								};
							};
						};
					};
					cam_1@21 {
						compatible = "sensing,shw3g-1";
						def-addr = <0x36>;
						reg = <0x21>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x31>;
						devnode = "video1";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="shw3g";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <0>;//
						reset-gpios = <&gpio_main CAM1_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2064X1552_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_c";
							vc_id = "1";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "12";
							csi_pixel_bit_depth = "12";
							mode_type = "bayer";
							pixel_phase = "rggb";

							active_w = "2064";
							active_h = "1552";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "200000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "10";
							min_gain_val = "10"; /* 1.00x */
							max_gain_val = "480"; /* 22x */
							step_gain_val = "5";
							default_gain = "10"; /* 1.00x */
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "51000000";
							max_framerate = "51000000";
							step_framerate = "1";
							default_framerate = "51000000";
							exposure_factor = "1000000";
							min_exp_time = "12"; /*us, 2 lines*/
							max_exp_time = "19000";
							step_exp_time = "1";
							default_exp_time = "19000";/* us */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out1: endpoint {
									vc-id = <1>;
									port-index = <2>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in1>;
								};
							};
						};
					};
					cam_0@20 {
						compatible = "sensing,shw3g-0";
						def-addr = <0x36>;
						reg = <0x20>;
						eeprom-def = <0x50>;
						eeprom-addr = <0x30>;
						devnode = "video0";

						/* Physical dimensions of sensor */
						physical_w = "15.0";
						physical_h = "12.5";

						sensor_model ="shw3g";

						/* Defines number of frames to be dropped by driver internally after applying */
						/* sensor crop settings. Some sensors send corrupt frames after applying */
						/* crop co-ordinates */
						post_crop_frame_drop = "0";

						/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
						use_decibel_gain = "true";

						/* enable CID_SENSOR_MODE_ID for sensor modes selection */
						use_sensor_mode_id = "true";

						clocks = <&bpmp TEGRA264_CLK_EXTPERIPH1>,
						<&bpmp TEGRA264_CLK_EXTPERIPH1>;
						clock-names = "extperiph1", "pllp_grtba";
						mclk = "extperiph1";
						der_id = <0>;//
						reset-gpios = <&gpio_main CAM1_PWDN GPIO_ACTIVE_HIGH>;

						mode0 {/*mode SENSOR_MODE_2064X1552_30FPS*/
							mclk_khz = "24000";
							num_lanes = "4";
							tegra_sinterface = "serial_c";
							vc_id = "0";
							phy_mode = "DPHY";
							discontinuous_clk = "no";
							dpcm_enable = "false";
							cil_settletime = "0";
							lane_polarity = "0";
							dynamic_pixel_bit_depth = "12";
							csi_pixel_bit_depth = "12";
							mode_type = "bayer";
							pixel_phase = "rggb";

							active_w = "2064";
							active_h = "1552";
							readout_orientation = "0";
							line_length = "2800";
							inherent_gain = "1";
							mclk_multiplier = "25";
							pix_clk_hz = "200000000";
							serdes_pix_clk_hz = "600000000";

							gain_factor = "10";
							min_gain_val = "10"; /* 1.00x */
							max_gain_val = "480"; /* 22x */
							step_gain_val = "5";
							default_gain = "10"; /* 1.00x */
							min_hdr_ratio = "1";
							max_hdr_ratio = "1";
							framerate_factor = "1000000";
							min_framerate = "51000000";
							max_framerate = "51000000";
							step_framerate = "1";
							default_framerate = "51000000";
							exposure_factor = "1000000";
							min_exp_time = "12"; /*us, 2 lines*/
							max_exp_time = "19000";
							step_exp_time = "1";
							default_exp_time = "19000";/* us */
							embedded_metadata_height = "0";
						};

						ports {
							#address-cells = <1>;
							#size-cells = <0>;
							port@0 {
								reg = <0>;
								cam_csi_out0: endpoint {
									vc-id = <0>;
									port-index = <2>;
									bus-width = <4>;
									remote-endpoint = <&jetson_csi_in0>;
								};
							};
						};
					};
				};
			};
		};
	};
};
